@use '../variables/index' as *;

[data-theme='dark'] {
  --color-bg: #121212;
  --color-text: #eaeaea;
  --color-primary: #d3af6c;
  --color-header-bg-primary: #{$header-bg-dark};
  --color-header-text: #f5f5f5;
  --color-button-bg: #1f1f1f;
  --color-card-shadow: rgba(255, 255, 255, 0.1);
}
