@use 'variables' as *;

@mixin centerFlexRowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerGridRowBetween {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

@mixin centerFlexColumnBetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin useFlex {
  display: flex;
  width: 100%;
}

@mixin headerFont {
  font-weight: 600;
  font-size: 16px;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond($bp) {
  @if $bp == sm {
    @media (min-width: $bp-sm) {
      @content;
    }
  } @else if $bp == md {
    @media (min-width: $bp-md) {
      @content;
    }
  } @else if $bp == lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  } @else if $bp == xl {
    @media (min-width: $bp-xl) {
      @content;
    }
  }
}

@mixin card {
  background: #fff;
  border-radius: $radius;
  box-shadow: $shadow;
}
