@use '../../styles/variables/index' as *;
//.headerContainer{
//  @include centerFlexRow;
//  background-color: var(--color-text);
//  color: black;
//}
.DropDown-module__dropdownMenu___-w6hC {
  margin: 14px !important;
}

.headerContainer {
  @include useFlex;
  flex-wrap: wrap;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;

  .header_banner {
    padding: 0 4rem;
    @include centerFlexRowBetween;
    width: 100%;
    min-height: clamp(50px, 4vh, 50px);
    background-color: var(--color-header-bg-primary);

    @media (max-width: 480px) {
      display: none;
    }
  }
  .header_menu {
    color: var(--color-secondary-header-text);
    padding: 0 4rem;
    @include centerGridRowBetween;
    width: 100%;
    min-height: clamp(92px, 4vh, 92px);
    font-family: Sora, sans-serif;
    //@media (max-width: 480px) {
    //  @include centerFlexColumnBetween;
    //  padding: 1rem 1rem;
    //  gap: 2px;
    //}
    .main_logo {
      align-items: center;
      display: flex;
      gap: 30px;
    }
    .menu_item {
      ul {
        flex-wrap: nowrap;
      }

      li {
        font-family: Sora, sans-serif;
        cursor: pointer;
        @include headerFont;
        position: relative;
        list-style: none;
        display: inline-block;
        margin-inline-end: 25px;
      }

      @media (max-width: 480px) {
        display: none;
      }
    }

    svg {
      cursor: pointer;
    }
    .actions {
      min-height: 24px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
      gap: 2em;
      font-size: 14px;
      font-weight: 500;
    }

    .search_input_container {
      display: flex;
      align-items: center;
      margin-right: 1em;
    }

    .search_input {
      font-weight: 400;
      font-family: Sora, sans-serif;
      border-radius: 40px;
      padding-left: 26px;
      anchor-name: search-input;

      width: 100%;
      height: 50px;
      font-size: 14px;
      padding-right: 60px;
      outline: none;
      border: 1px solid #e0e2e3;
      &:focus {
        border: 1px solid #c2996d;
        border-right: none;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .btnSearch {
      translate: 424% 0%;
      top: anchor(center);
      left: anchor(right);
      position: absolute;
      anchor-target: search-input;
      outline: none;
      border: none;
      height: 50px;
      width: 49px;
      background: var(--color-header-bg-primary);
      border-radius: 50%;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .bar_icon {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      width: 35px;
      height: 20px;

      span {
        width: 100%;
        height: 2px;
        background: #161616;
        display: inline-block;
      }

      span:nth-child(1) {
        margin-inline-start: -10px;
      }
    }
    @media (max-width: 480px) {
      .search_input_container {
        display: none;
      }
      .actions {
        margin-right: 0.5rem;
      }
      .main_logo {
        margin-right: 0.5rem;
      }
      padding: 0;
    }
  }
}
