.homepageContainer {
}
.Slider2Section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Slider2Container {
  max-width: 1600px;
  padding-right: calc(15px);
  padding-left: calc(15px);
  margin-right: auto;
  margin-left: auto;
}
